name: Run tests

on:
    workflow_call:
        
permissions:
    contents: read

jobs:
    run_tests:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v4
        - uses: actions/setup-java@v3
          with:
            java-version: '17'
            distribution: 'adopt'
        - name: Setup Gradle
          uses: gradle/actions/setup-gradle@v3
        - name: Run integration tests
          run: ./gradlew check sonar -Dsonar.host.url=https://sq.voigon.dev -Dsonar.verbose=true --info
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        - name: Publish Test Report
          uses: mikepenz/action-junit-report@v4
          if: success() || failure()
          with:
           token: ${{ secrets.GITHUB_TOKEN }} 
           detailed_summary: true
           follow_symlink: true
           check_name: |
                commands
                commands-spigot
                common
                spigot
           report_paths: |
                **/commands/build/test-results/test/TEST-*.xml
                **/commands/spigot-platform/build/test-results/test/TEST-*.xml
                **/common/build/test-results/test/TEST-*.xml
                **/spigot/build/test-results/test/TEST-*.xml

        - name: Publish Test Report
          uses: test-summary/action@v2
          if: success() || failure()
          with:
            paths: |
              **/commands/build/test-results/test/TEST-*.xml
              **/commands/spigot-platform/build/test-results/test/TEST-*.xml
              **/common/build/test-results/test/TEST-*.xml
              **/spigot/build/test-results/test/TEST-*.xml