name: Publish plugin to Hangar.
on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: hangar publish
        run: ./gradlew publishPluginPublicationToHangar
        env:
          HANGAR_TOKEN: ${{ secrets.HANGAR_TOKEN }}